<ion-content>
    <ion-header>
      <ion-toolbar color="teal">
        <ion-title class="ion-text-center">
          À propos
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card>
      <ion-card-header>
        <ion-card-title>À Propos de Ce Projet</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>
          Ce projet a été réalisé dans le cadre de mon cours. Il vise à démontrer mes compétences en développement d'applications avec Ionic et Angular.
        </p>
        <p>
          J'ai travaillé seul sur ce projet.
        </p>
      </ion-card-content>
    </ion-card>
  
    <ion-list>
      <ion-list-header>
        <strong>Objectifs du Projet</strong>
      </ion-list-header>
      <ion-item>
        <ion-label>Mettre en place un CRUD</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Support concerné application mobile et web</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Faire un projet fonctionnel</ion-label>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" color="primary" routerLink="/">
      Retour à l'accueil
    </ion-button>
</ion-content>
  