<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <input #searchBox (keyup)="search(searchBox.value)" placeholder="Rechercher une Formule 1"> <!-- #searcBox récupère la valeur de ce que tape l'utilisateur -->
                </div>
                <div class="collection">
                    <a *ngFor="let Formule of Formules$ | async" (click)="goToDetail(Formule)" class="collection-item">
                        {{ Formule.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
