<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="search"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="formules">
      <ion-icon name="car"></ion-icon>
      Formule 1
    </ion-tab-button>
    <ion-tab-button tab="photos">
      <ion-icon name="aperture"></ion-icon>
      Photos
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      À propos
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>