<nav>
    <div class="nav-wrapper teal">
        <a href="/formules" class="brand-logo center">
            Garage de la Formule 1
        </a>
    </div>
</nav>
<!-- <input #input (keyup.enter)="selectPokemon(input.value)" type="number"> Permet de dire à angular de rechercher ce qu'on a tapé que si on appuie sur "Entrée" -->
<!-- <p *ngIf="pokemonSelected">Vous avez sélectionné le pokémon : {{ pokemonSelected.name }}</p>
<p *ngIf="!pokemonSelected">Aucun pokémon n'a été trouvé.</p> -->

<router-outlet></router-outlet>
