<ion-content>
  <!-- Formulaire d'ajout/édition -->
  <form *ngIf="Formule" (ngSubmit)="onSubmit()" #formuleForm="ngForm">
    <ion-card>
      <!-- Titre -->
      <ion-card-header>
        <ion-card-title>{{ isAddForm ? 'Ajouter une Formule 1' : 'Éditer la Formule 1' }}</ion-card-title>
      </ion-card-header>
        <!-- Nom -->
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input type="text" id="name" required
                     pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                     [(ngModel)]="Formule.name" name="name" 
                     #name="ngModel">
          </ion-input>
        </ion-item>
        <ion-note slot="end" color="danger" *ngIf="name.invalid && !name.pristine">
          Le nom du véhicule est requis (1-25).
        </ion-note>

        <!-- Image -->
        <div *ngIf="isAddForm">
          <ion-item>
            <ion-label position="floating">Image</ion-label>
            <ion-input type="url" id="picture" required
                       [(ngModel)]="Formule.picture" name="picture" 
                       #picture="ngModel">
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="picture.invalid && !picture.pristine">
            L'image du véhicule est requise.
          </ion-note>
        </div>

        <!-- Année -->
        <ion-item>
          <ion-label position="floating">Année</ion-label>
          <ion-input type="text" id="year" required 
                      [(ngModel)]="year" name="year"
                      #year="ngModel" pattern="[0-9]{4}" placeholder="Exemple : 2023"
                      (ngModelChange)="onYearChange($event)">
          </ion-input>
        </ion-item>
        <ion-note slot="end" color="danger" *ngIf="year.invalid && !year.pristine">
          L'année du véhicule est requise et doit être au format 4 chiffres.
        </ion-note>

        <!-- Marques -->
        <ion-item>
          <ion-label>Marque</ion-label>
          <ion-radio-group name="typeOptions" (ionChange)="selectType($event)">
            <ion-item *ngFor="let type of types">
              <ion-label>{{ type }}</ion-label>
              <ion-radio [value]="type" [disabled]="!isTypesValid(type)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>

        <!-- Bouton Valider -->
        <ion-button expand="full" type="submit" [disabled]="!formuleForm.form.valid">
          Valider
        </ion-button>
    </ion-card>
  </form>

  <!-- Spinner de chargement -->
  <ion-spinner *ngIf="!Formule" name="crescent"></ion-spinner>
</ion-content>
