<ion-content>
    <ion-header>
      <ion-toolbar color="teal">
        <ion-title class="ion-text-center">
          Garage de la Formule 1
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm="6" *ngFor="let Formule of FormuleList">
          <ion-card (click)="goToFormule(Formule)">
            <ion-card-header>
              <ion-card-title>{{ Formule.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img [src]="Formule.picture"></ion-img>
              <p><small>{{ Formule.created | date: 'dd/MM/yyyy' | uppercase }}</small></p>
              <div>
                <span 
                  *ngFor="let type of Formule.types" 
                  [ngClass]="type | formuleTypeColor">
                  {{ type }}
                </span>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToFormuleAdd()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  